
{{> head}}
{{> navbar}}
  <div class="row">
    <div class="col-8">
      <div class="container">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptates beatae dignissimos, aspernatur odio repudiandae, nesciunt esse, autem sequi sapiente aliquam consequatur facere ad pariatur eaque natus fugit illo quaerat!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptates beatae dignissimos, aspernatur odio repudiandae, nesciunt esse, autem sequi sapiente aliquam consequatur facere ad pariatur eaque natus fugit illo quaerat!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptates beatae dignissimos, aspernatur odio repudiandae, nesciunt esse, autem sequi sapiente aliquam consequatur facere ad pariatur eaque natus fugit illo quaerat!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptates beatae dignissimos, aspernatur odio repudiandae, nesciunt esse, autem sequi sapiente aliquam consequatur facere ad pariatur eaque natus fugit illo quaerat!</p>
      </div>
    </div>
    <div class="col-4">
      <div class="container mt-2">
        <img src="assets/img/wom1.jpg" class="img-thumbnail" width="50%">
      </div>
    </div>
  </div>
  {{> footer}}
   <!-- JS DE BOOTSTRAP -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>